body {
    margin: 25px;
}

#left-drag,
#right-drag,
#draggable-area {
    display: inline-block;
    height: 139px !important;
}
#draggable-area {
    background-color: #f58220;
    position: absolute;
    z-index: 999;
    opacity: 0.3;
    top: 39px;
}
#left-drag,
#right-drag {
    position: absolute !important;
    z-index: 999;
    border: 1px solid #f58220;
    cursor: pointer;
    top: 39px;
    display: none;
}
#left-drag:after, #right-drag:after {
    /* background-color: #f58220;
    border-radius: 25px;
    padding: 6px; */
    position: absolute;
    top: 99%;
    /* right: -11px; */
    color: #ffffff;
}
#left-drag:after {
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 18px solid #f58220;
    right: -1px;
}
#right-drag:after {
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid #f58220;
    right: -17px;
}
#editable-chart {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 236px;
    text-align: center;
}
#drag-line {
    position: absolute;
    top: 83%;
    width: 100%;
    height: 2px;
    border-top: 2px solid #bdbdbd;
    margin: 0 auto;
}

tr td:nth-child(60),
tr td:nth-child(120),
tr td:nth-child(180),
tr td:nth-child(240),
tr td:nth-child(300),
tr td:nth-child(360),
tr td:nth-child(420),
tr td:nth-child(480),
tr td:nth-child(540),
tr td:nth-child(600),
tr td:nth-child(660),
tr td:nth-child(720),
tr td:nth-child(780),
tr td:nth-child(840),
tr td:nth-child(900),
tr td:nth-child(960),
tr td:nth-child(1020),
tr td:nth-child(1080),
tr td:nth-child(1140),
tr td:nth-child(1200),
tr td:nth-child(1260),
tr td:nth-child(1320),
tr td:nth-child(1380),
tr td:nth-child(1440){
    border-right: 1px solid grey;
    border-top: 0;
}

table {
  height: 200px;
  width: 100%;
  border-collapse: collapse;
  position: absolute;
  top: 20px;
  table-layout: fixed;
  width: 1441px;
}

/* tr:first-child td:first-child:before,
tr:first-child td:nth-child(60):before,
tr:first-child td:nth-child(120):before,
tr:first-child td:nth-child(180):before,
tr:first-child td:nth-child(240):before,
tr:first-child td:nth-child(300):before,
tr:first-child td:nth-child(360):before,
tr:first-child td:nth-child(420):before,
tr:first-child td:nth-child(480):before,
tr:first-child td:nth-child(540):before,
tr:first-child td:nth-child(600):before,
tr:first-child td:nth-child(660):before,
tr:first-child td:nth-child(720):before,
tr:first-child td:nth-child(780):before,
tr:first-child td:nth-child(840):before,
tr:first-child td:nth-child(900):before,
tr:first-child td:nth-child(960):before,
tr:first-child td:nth-child(1020):before,
tr:first-child td:nth-child(1080):before,
tr:first-child td:nth-child(1140):before,
tr:first-child td:nth-child(1200):before,
tr:first-child td:nth-child(1260):before,
tr:first-child td:nth-child(1320):before,
tr:first-child td:nth-child(1380):before,
tr:first-child td:nth-child(1440):before, */
.table .custom-row:first-child .bigger-division:before,
.table .custom-row:first-child .inlineelms_1 #elm_1:before,
.table .custom-row:first-child .inlineelms_24 #elm_60:before {
    position: absolute;
    margin-top: -24px;
    margin-left: -7px;
    color: #000;
    font-size: 13px;
}

.custom-row:before {
    position: absolute;
    color: #000;
    margin-top: 9px;
    left: 0px;
    font-size: 13px;
}

.custom-row:nth-child(4):before {
    content: 'ON';
}

.custom-row:nth-child(3):before {
    content: 'D';
}

.custom-row:nth-child(2):before {
    content: 'SB';
}

.custom-row:nth-child(1):before {
    content: 'OFF';
}

/* tr:first-child td:first-child:before,
tr:first-child td:nth-child(720):before,
tr:first-child td:nth-child(1440):before, */
.table .custom-row:first-child .inlineelms_1 #elm_1:before,
.table .custom-row:first-child .inlineelms_24 #elm_60:before {
    content: 'M';
}
/* tr:first-child td:nth-child(60):before,
tr:first-child td:nth-child(780):before, { */
.table .custom-row:first-child .inlineelms_1 .bigger-division:before,
.table .custom-row:first-child .inlineelms_13 .bigger-division:before {
    content: '1';
}
/* tr:first-child td:nth-child(120):before,
tr:first-child td:nth-child(840):before, { */
.table .custom-row:first-child .inlineelms_2 .bigger-division:before,
.table .custom-row:first-child .inlineelms_14 .bigger-division:before {
    content: '2';
}
/* tr:first-child td:nth-child(180):before,
tr:first-child td:nth-child(900):before, { */
.table .custom-row:first-child .inlineelms_3 .bigger-division:before,
.table .custom-row:first-child .inlineelms_15 .bigger-division:before {
    content: '3';
}
/* tr:first-child td:nth-child(240):before,
tr:first-child td:nth-child(960):before { */
.table .custom-row:first-child .inlineelms_4 .bigger-division:before,
.table .custom-row:first-child .inlineelms_16 .bigger-division:before {
    content: '4';
}
/* tr:first-child td:nth-child(300):before,
tr:first-child td:nth-child(1020):before { */
.table .custom-row:first-child .inlineelms_5 .bigger-division:before,
.table .custom-row:first-child .inlineelms_17 .bigger-division:before {
    content: '5';
}
/* tr:first-child td:nth-child(360):before,
tr:first-child td:nth-child(1080):before { */
.table .custom-row:first-child .inlineelms_6 .bigger-division:before,
.table .custom-row:first-child .inlineelms_18 .bigger-division:before {
    content: '6';
}
/* tr:first-child td:nth-child(420):before,
tr:first-child td:nth-child(1140):before { */
.table .custom-row:first-child .inlineelms_7 .bigger-division:before,
.table .custom-row:first-child .inlineelms_19 .bigger-division:before {
    content: '7';
}
/* tr:first-child td:nth-child(480):before,
tr:first-child td:nth-child(1200):before { */
.table .custom-row:first-child .inlineelms_8 .bigger-division:before,
.table .custom-row:first-child .inlineelms_20 .bigger-division:before {
    content: '8';
}
/* tr:first-child td:nth-child(540):before,
tr:first-child td:nth-child(1260):before { */
.table .custom-row:first-child .inlineelms_9 .bigger-division:before,
.table .custom-row:first-child .inlineelms_21 .bigger-division:before {
    content: '9';
}
/* tr:first-child td:nth-child(600):before,
tr:first-child td:nth-child(1320):before { */
.table .custom-row:first-child .inlineelms_10 .bigger-division:before,
.table .custom-row:first-child .inlineelms_22 .bigger-division:before {
    content: '10';
}
/* tr:first-child td:nth-child(660):before,
tr:first-child td:nth-child(1380):before { */
.table .custom-row:first-child .inlineelms_11 .bigger-division:before,
.table .custom-row:first-child .inlineelms_23 .bigger-division:before {
    content: '11';
}

.table .custom-row:first-child .inlineelms_12 .bigger-division:before {
    content: 'N';
}

td {
  line-height: normal;
  vertical-align: bottom;
  text-align: left;
  position: relative;
  border-top: 1px solid grey;
  width: 0.005%;
}

.point {
    width: 4px;
    height: 2px;
    position: absolute;
    background-color: #f58220;
}

.pointY {
    height: 4px;
    width: 2px;
    position: absolute;
    background-color: #f58220;
}
table {
    border-bottom: 1px solid grey;
}
td {
    color: #fff;
}
tr td:first-child {
  border-right: none;
  border-left: 1px solid grey;
}



.inlineelms {
    width: 4%;
    height: 35px;
    /* border-left: 1px solid #919191; */
    border-bottom: 1px solid #919191;
    display: inline-block;
}
.custom-row .inlineelms:last-child {
    border-right: 1px solid #919191;
}
.custom-row .inlineelms:first-child {
    border-left: 1px solid #919191;
}
.elm {
    height: 35px;
    /* border-right: 0.1px solid grey; */
    display: inline-block;
    margin-left: 0.01%;
    width: 1.6%;
}
.table {
    position: absolute;
    top: 16%;
    width: 100%;
    margin: 0 auto;
}

.custom-row {
    width: 100%;
    height: 35px;
}
.bigger-division {
    border-right: 1px solid grey;
}
.smaller-sub-division {
    background: #919191;
    width: 1px;
    height: 9px;
}
.bigger-sub-division {
    background: #919191;
    width: 1px;
    height: 18px;
}
.left-bubble,
.right-bubble {
    position: absolute;
    top: 26%;
    font-size: 13px;
    padding: 7px;
    background-color: #fff;
    border-radius: 10px;
    left: -24px;
    border: 2px solid #f58220;
    z-index: 9999;
    display: none;
}
.driverStateSelector {
    width: 105px;
    display: inline-block;
    background-color: #919191;
    margin-right: 15px;
    padding: 5px 8px;
    color: #fff;
    margin-top: 37px;
    cursor: pointer;
}
.newChartDraw {
    background-color: #934e13;
}
.disabled-edit {
    cursor: no-drop;
    pointer-events: none;
}


/*media query*/
@media screen and (max-width: 1040px) {
    .smaller-sub-division {
        display: none;
    }
}
